
/* Primary Palette Deloitte (Fill in from Global Timesaver sheet) */

.deloitte_deloitteGreen
{
    color: #86BC25
}

.deloitte_green4
{
    color: #43B02A
}


.deloitte_accessibleGreen
{
    color: rgb(38,137,13,100%)
}

.deloitte_green6 
{
    color: rgb(4,106,56,100%)
}

.deloitte_accessibleTeal
{
    color: rgb(13,131,144,100%)
}

.deloitte_accessibleBlue
{
    color: rgb(0,124,176,100%)
}

/* Secondary Palette Deloitte (Fill in from Global Timesaver sheet) */
.deloitte_green1
{
    color: rgb(227,228,141,100%)
}

.deloitte_green2
{
    color: rgb(196,214,80,100%)
}

.deloitte_green5
{
    color: rgb(0,154,68,100%)
}

.deloitte_green7
{
    color: rgb(44,82,52,100%)
}


/* SECONDARY BLUE */

.deloitte_blue1
{
    color: rgb(160,220,255,100%)
}

.deloitte_blue2
{
    color: rgb(98,181,229,100%)
}

.deloitte_blue3
{
    color: rgb(0,163,224,100%)
}
.deloitte_blue4
{
    color: rgb(0,118,168,100%)
}
.deloitte_blue5
{
    color: rgb(0,85,135,100%)
}
.deloitte_blue6
{
    color: rgb(1,33,105,100%)
}
.deloitte_blue7
{
    color: rgb(4,30,66,100%)
}

/* SECONDARY TEAL */

.deloitte_teal1
{
    color: rgb(221,239,232,100%)
}

.deloitte_teal2
{
    color: rgb(157,212,207,100%)
}
.deloitte_teal3
{
    color: rgb(111,194,180,100%)
}
.deloitte_teal4
{
    color: rgb(0,171,171,100%)
}
.deloitte_teal5
{
    color: rgb(0,151,169,100%)
}
.deloitte_teal6
{
    color: rgb(0,118,128,100%)
}
.deloitte_teal7
{
    color: rgb(0,79,89,100%)
}


/* GRAYS */


.deloitte_coolgray2
{
    color: rgb(208,208,206,100%)
}


.deloitte_coolgray4
{
    color: rgb(187,188,188,100%)
}

.deloitte_coolgray6
{
    color: rgb(167,168,170,100%)
}

.deloitte_coolgray7
{
    color: rgb(151,153,155,100%)
}

.deloitte_coolgray9
{
    color: rgb(117,120,123,100%)
}

.deloitte_coolgray10
{
    color: rgb(99,102,106,100%)
}

.deloitte_coolgray11
{
    color: rgb(83,86,90,100%)
}



/* BRIGHTS - LIMIT */

.deloitte_brightGreen
{
    color: rgb(13,242,0,100%)
}


.deloitte_brightTeal
{
    color: rgb(62,250,197,100%)
}


.deloitte_brightBlue
{
    color: rgb(51,240,255,100%)
}

.deloitte_red
{
    color: rgb(218,41,28,100%)
}

.deloitte_orange
{
    color: rgb(237,139,0,100%)
}

.deloitte_yellow
{
    color: rgb(255,205,0,100%)
}


/* Deloitte Digital - dd */

.dd_green1
{
    color: #43B02A
}

.dd_green2
{
    color: #26890D
}

.dd_green3
{
    color: #046A38
}

.dd_teal1
{
    color: #0D8390
}


.dd_teal2
{
    color: #007CB0
}

.dd_ltgreen1
{
    color: #E3E48D
}

.dd_secondaryGreen
{
    color: #3C8A2E
}

.dd_secondaryBlue
{
    color: #72C7E7    
}

.dd_secondaryTennisBall
{
    color: #C9DD03
}

.dd_neutralDark{
    color: #8C8C8C;
}

.dd_neutralMedium{
    color: #B4B4B4;
}
.dd_neutralLight {
    color: #DCDCDC;
}
